body, html {
  height: 100%;
}

.login {
  background-color: #54C780;
  /* background-color: rgb(255, 255, 0); */
  background-image: url("fundo.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.login > .content {
  width: 320px;
  margin-top: 60px;
}

.center {
  display: block;
  margin: 0 auto;
}

.login-form {
  margin-top: 78px;
}

.input-control {
  margin-bottom: 20px;
}

.input-control > label {
  display: block;
}

.input-control > .input {
  height: 48px;
  width: calc(100% - 50px);
  border-radius: 24px;
  border-width: 0;
  background: #FFF;

  font-family: 'Montserrat', sans-serif;
  font-size: 14px;

  padding: 0 25px;
}

.input-control > .input:focus {
  background: #F2F2F2;
}

.login-form > .actions > button[type="submit"] {
  background-color: #354463;
  border: 0;
  border-radius: 24px;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 18px;
  width: 160px;
  height: 48px;
}

@media (min-width: 400px) {
  .login > .content > .login-form > .input-control > label {
    display: none;
  }
}